{__NOLAYOUT__}
<layout name="Pub/layout2" />
<section>
    <div class="pc-login-bj">
        <div class="center clearfix">
            <div class="fl"></div>
            <div class="fr pc-login-box">
                <div class="pc-login-title"><h2>验证码注册</h2></div>
                <form action="" method="post">
                    <div class="pc-sign">
                    <input type="password" placeholder="请输入验证码" name="verifyCode" style="width:150px;">
                        <span style="color:#f00;">{$info|default=''}</span>
                    </div>
                    <div class="pc-submit-ss">
                        <input type="submit" value="立即注册">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>