 <script type="text/javascript">
        $(document).ready(function(){
            var $miaobian=$('.Xcontent08>div');
            var $huantu=$('.Xcontent06>img');
            var $miaobian1=$('.Xcontent26>div');
            $miaobian.mousemove(function(){miaobian(this);});
            $miaobian1.click(function(){miaobian1(this);});
            function miaobian(thisMb){
                for(var i=0; i<$miaobian.length; i++){
                    $miaobian[i].style.borderColor = '#dedede';
                }
                thisMb.style.borderColor = '#cd2426';

                $huantu[0].src = thisMb.children[0].src;
            }
            function miaobian1(thisMb1){
                for(var i=0; i<$miaobian1.length; i++){
                    $miaobian1[i].style.borderColor = '#dedede';
                }
//		thisMb.style.borderColor = '#cd2426';
                $miaobian.css('border-color','#dedede');
                thisMb1.style.borderColor = '#cd2426';
                $huantu[0].src = thisMb1.children[0].src;
            }
            $(".Xcontent33").click(function(){
                var value=parseInt($('.input').val())+1;
                $('.input').val(value);
            })

            $(".Xcontent32").click(function(){
                var num = $(".input").val()
                if(num>0){
                    $(".input").val(num-1);
                }

            })

        })
    </script>
</head>
<body>
<!--  顶部    start-->
<div class="yHeader">
    <!-- 导航   start  -->
    <div class="yNavIndex">
        <ul class="yMenuIndex" style="margin-left:0">
            <li style="background:#d1201e"><a href="" target="_blank">云购首页</a></li>
            <li><a href="" target="_blank">女士护肤 </a></li>
            <li><a href="" target="_blank">男士护肤</a></li>
            <li><a href="" target="_blank">洗护染发</a></li>
            <li><a href="" target="_blank">染发</a></li>
            <li><a href="" target="_blank">彩妆</a></li>
            <li><a href="" target="_blank">品牌故事</a></li>
        </ul>
    </div>
    <!-- 导航   end  -->
</div>
<div class="center" style="background:#fff;">
    <div style="padding:20px">
        <div class="containers clearfix"><div class="pc-nav-item fl"><a href="#" class="pc-title">首页</a> &gt;<a href="#"> 所有货架</a></div> <div class="fr" style="padding-top:20px;"><a href="#" class="reds">所有品牌&gt;</a></div></div>
        <div class="containers">
            <div class="pc-nav-rack clearfix">
                <ul>
                    <li><a href="#">家用电器</a></li>
                    <li><a href="#">手机数码</a></li>
                    <li><a href="#">电脑办公</a></li>
                    <li><a href="#">家居家装</a></li>
                    <li><a href="#">男装女装</a></li>
                    <li><a href="#">个护化妆</a></li>
                    <li><a href="#">运动户外</a></li>
                    <li><a href="#">箱包钟表</a></li>
                    <li><a href="#">汽车用品</a></li>
                    <li><a href="#">玩具乐器</a></li>
                    <li><a href="#">食品酒类</a></li>
                    <li><a href="#">玩具乐器</a></li>
                    <li><a href="#">营养保健</a></li>
                    <li><a href="#">图书音像</a></li>
                    <li><a href="#">充值票务</a></li>
                </ul>
            </div>
            <div>
                <div class="pc-nav-title"><h3>手机数码</h3></div>
                <div class="pc-nav-digit clearfix">
                    <ul>
                        <foreach name="goodsInfo" item="v">
                        <li>
                            <div class="digit1"><a href="{:U('detail',array('goods_id'=>$v['goods_id']))}"><img src="{$v.goods_small_logo}" width="100%"></a></div>
                            <div class="digit2"><a href="{:U('detail',array('goods_id'=>$v['goods_id']))}">{$v.goods_name}</a></div>
                            <div class="digit3"><a href="{:U('detail',array('goods_id'=>$v['goods_id']))}" style="color:#f00;font-size:15px;">￥{$v.goods_price}</a></div>
                        </li>
                        </foreach>
                    </ul>
                </div>
            </div>
            <div>
                <div class="pc-nav-title"><h3>摄影</h3></div>
                <div class="pc-nav-digit clearfix">
                    <ul>
                        <li>
                            <div class="digit1"><a href="#"><img src="{:C('HO_IMG')}shangpinxiangqing/X-1.png" width="100%"></a></div>
                            <div class="digit2"><a href="#">家用电器</a></div>
                        </li>
                        <li>
                            <div class="digit1"><a href="#"><img src="{:C('HO_IMG')}shangpinxiangqing/X-1.png" width="100%"></a></div>
                            <div class="digit2"><a href="#">家用电器</a></div>
                        </li>
                        <li>
                            <div class="digit1"><a href="#"><img src="{:C('HO_IMG')}shangpinxiangqing/X-1.png" width="100%"></a></div>
                            <div class="digit2"><a href="#">家用电器</a></div>
                        </li>
                        <li>
                            <div class="digit1"><a href="#"><img src="{:C('HO_IMG')}shangpinxiangqing/X-1.png" width="100%"></a></div>
                            <div class="digit2"><a href="#">家用电器</a></div>
                        </li>
                        <li>
                            <div class="digit1"><a href="#"><img src="{:C('HO_IMG')}shangpinxiangqing/X-1.png" width="100%"></a></div>
                            <div class="digit2"><a href="#">家用电器</a></div>
                        </li>
                        <li>
                            <div class="digit1"><a href="#"><img src="{:C('HO_IMG')}shangpinxiangqing/X-1.png" width="100%"></a></div>
                            <div class="digit2"><a href="#">家用电器</a></div>
                        </li>
                        <li>
                            <div class="digit1"><a href="#"><img src="{:C('HO_IMG')}shangpinxiangqing/X-1.png" width="100%"></a></div>
                            <div class="digit2"><a href="#">家用电器</a></div>
                        </li>
                        <li>
                            <div class="digit1"><a href="#"><img src="{:C('HO_IMG')}shangpinxiangqing/X-1.png" width="100%"></a></div>
                            <div class="digit2"><a href="#">家用电器</a></div>
                        </li>
                        <li>
                            <div class="digit1"><a href="#"><img src="{:C('HO_IMG')}shangpinxiangqing/X-1.png" width="100%"></a></div>
                            <div class="digit2"><a href="#">家用电器</a></div>
                        </li>
                        <li>
                            <div class="digit1"><a href="#"><img src="{:C('HO_IMG')}shangpinxiangqing/X-1.png" width="100%"></a></div>
                            <div class="digit2"><a href="#">家用电器</a></div>
                        </li>
                        <li>
                            <div class="digit1"><a href="#"><img src="{:C('HO_IMG')}shangpinxiangqing/X-1.png" width="100%"></a></div>
                            <div class="digit2"><a href="#">家用电器</a></div>
                        </li>
                        <li>
                            <div class="digit1"><a href="#"><img src="{:C('HO_IMG')}shangpinxiangqing/X-1.png" width="100%"></a></div>
                            <div class="digit2"><a href="#">家用电器</a></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div style="padding-top:30px;">
                <div class="member-pages clearfix">
                    <div class="fr pc-search-g">
                        <a href="#" class="fl pc-search-f">上一页</a>
                        <a class="current" href="#">1</a>
                        <a href="javascript:;">2</a>
                        <a href="javascript:;">3</a>
                        <a href="javascript:;">4</a>
                        <a href="javascript:;">5</a>
                        <a href="javascript:;">6</a>
                        <a href="javascript:;">7</a>
                        <span class="pc-search-di">…</span>
                        <a onclick="SEARCH.page(3, true)" href="javascript:;" class="pc-search-n" title="使用方向键右键也可翻到下一页哦！">下一页</a>
                        <span class="pc-search-y">
                        <em>  共20页    到第</em>
                        <input type="text" placeholder="1" class="pc-search-j">
                        <em>页</em>
                        <a class="confirm" href="#">确定</a>
                    </span>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div style="height:100px"></div>
