<section id="">
    <div class="center pc-ad-img clearfix">
        <div class="pc-center-img"><img src="{:C('HO_IM')}ad/ad1.jpg"></div>
        <div class="pc-center-img"><img src="{:C('HO_IM')}ad/ad2.jpg"></div>
        <div class="pc-center-img"><img src="{:C('HO_IM')}ad/ad3.jpg"></div>
        <div class="pc-center-img"><img src="{:C('HO_IM')}ad/ad4.jpg"></div>
        <div class="pc-center-img"><img src="{:C('HO_IM')}ad/ad5.jpg"></div>
    </div>
</section>
<section id="s">
    <div class="center">
        <div class="pc-center-he">
            <div class="pc-box-he clearfix">
                <div class="fl"><i class="pc-time-icon"></i></div>
                <div class="time-item fr">
                    <span id="day_show">0天</span>
                    <strong id="hour_show">0时</strong>
                    <strong id="minute_show">00分</strong>
                    <strong id="second_show">00秒</strong>
                    <em style="color:#fff">后结束抢购</em>
                </div>
            </div>
            <div class="pc-list-goods">
                <div class="flashSale_wrap">
                    <div class="flashSale area">
                        <div class="tab-content">
                            <div class="tab-pane active">
                                <div class="flashSaleDeals">
                                    <div class="v_cont" style="width:9648px;overflow: hidden">
                                        <ul class="flder">
                                            <li index="0">
                                                <div class="xsq_deal_wrapper">
                                                    <a class="saleDeal" href="page.html" target="_blank">
                                                        <div class="dealCon">
                                                            <img class="dealImg" src="{:C('HO_IMG')}xlqg1.jpg" alt="">
                                                            <div class="zt2Qrcode overlay">
                                                                <div class="xsqMask"></div>
                                                                <p class="word1">15:00开抢</p>
                                                                <p class="word2">限100件，抢完恢复25.8元</p>
                                                                <p class="word3">查看商品&gt;&gt;</p>
                                                            </div>
                                                            <!--<span class="soldOut xsqIcon"></span>-->
                                                        </div>
                                                        <div class="title_new">
                                                            <p class="word" title="YDA-826E 除湿机家用抽湿机除湿器（除湿、干衣力荐）">YDA-826E 除湿机家用抽湿机除湿器（除湿、干衣力荐）</p>
                                                        </div>
                                                        <div class="dealInfo">
                                                            <span class="price">¥<em>299</em></span>

                                                            <span class="shop_preferential">满2件8.8折</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="xsq_deal_wrapper">
                                                    <a class="saleDeal" href="" target="_blank">
                                                        <div class="dealCon">
                                                            <img class="dealImg" src="{:C('HO_IMG')}xlqg2.jpg" alt="">
                                                            <div class="zt2Qrcode overlay">
                                                                <div class="xsqMask"></div>
                                                                <p class="word1">15:00开抢</p>
                                                                <p class="word2">限100件，抢完恢复25.8元</p>
                                                                <p class="word3">查看商品&gt;&gt;</p>
                                                            </div>
                                                            <div class="stock">
                                                                <div class="xsqMask"></div>
                                                                <span class="stockWord"><i class="stocknumber">还剩73件</i> 抢完恢复原价16.8元</span>
                                                            </div>
                                                        </div>
                                                        <div class="title_new">
                                                            <p class="word" title="升级版原汁机低速榨汁机HUZK24WNM "><span class="baoyouText">[包邮]</span>升级版原汁机低速榨汁机HUZK24WNM </p>
                                                        </div>
                                                        <div class="dealInfo">
                                                            <span class="price">¥<em>1980</em></span>

                                                            <span class="shop_preferential">满2件8.8折</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="xsq_deal_wrapper">
                                                    <a class="saleDeal" href="" target="_blank">
                                                        <div class="dealCon">
                                                            <img class="dealImg" src="{:C('HO_IMG')}xlqg3.jpg" alt="">
                                                            <div class="finish overlay">
                                                                <div class="xsqMask"></div>
                                                                <p class="word1">15:00开抢</p>
                                                                <p class="word2">限100件，抢完恢复25.8元</p>
                                                                <p class="word3">查看商品&gt;&gt;</p>
                                                            </div>
                                                            <span class="finishIcon xsqIcon"></span>
                                                        </div>
                                                        <div class="title_new">
                                                            <p class="word" title="飞利浦PHILIPS刷头HX6013标准3支装 "><span class="baoyouText">[包邮]</span>飞利浦PHILIPS刷头HX6013标准3支装 </p>
                                                        </div>
                                                        <div class="dealInfo">
                                                            <span class="price">¥<em>149</em></span>

                                                            <span class="shop_preferential">满2件8.8折</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="xsq_deal_wrapper">
                                                    <a class="saleDeal" href="" target="_blank">
                                                        <div class="dealCon">
                                                            <img class="dealImg" src="{:C('HO_IMG')}xlqg4.jpg" alt="">
                                                            <div class="zt2Qrcode overlay">
                                                                <div class="xsqMask"></div>
                                                                <p class="word1">15:00开抢</p>
                                                                <p class="word2">限100件，抢完恢复25.8元</p>
                                                                <p class="word3">查看商品&gt;&gt;</p>
                                                            </div>
                                                            <div class="stock">
                                                                <div class="xsqMask"></div>
                                                                <span class="stockWord"><i class="stocknumber">还剩73件</i> 抢完恢复原价16.8元</span>
                                                            </div>
                                                        </div>
                                                        <div class="title_new">
                                                            <p class="word" title="贝拉米 Bellamy’s 婴幼儿有机奶粉3段"><span class="baoyouText">[包邮]</span>贝拉米 Bellamy’s 婴幼儿有机奶粉3段</p>
                                                        </div>
                                                        <div class="dealInfo">
                                                            <span class="price">¥<em>199</em></span>

                                                            <span class="shop_preferential">满2件8.8折</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="xsq_deal_wrapper">
                                                    <a class="saleDeal" href="" target="_blank">
                                                        <div class="dealCon">
                                                            <img class="dealImg" src="{:C('HO_IMG')}xlqg5.jpg" alt="">
                                                            <div class="zt2Qrcode overlay">
                                                                <div class="xsqMask"></div>
                                                                <p class="word1">15:00开抢</p>
                                                                <p class="word2">限100件，抢完恢复25.8元</p>
                                                                <p class="word3">查看商品&gt;&gt;</p>
                                                            </div>
                                                            <div class="stock">
                                                                <div class="xsqMask"></div>
                                                                <span class="stockWord"><i class="stocknumber">还剩73件</i> 抢完恢复原价16.8元</span>
                                                            </div>
                                                        </div>
                                                        <div class="title_new">
                                                            <p class="word" title="925银流苏珍珠耳坠耳钉"><span class="baoyouText">[包邮]</span>925银流苏珍珠耳坠耳钉</p>
                                                        </div>
                                                        <div class="dealInfo">
                                                            <span class="price">¥<em>1</em></span>

                                                            <span class="shop_preferential">满2件8.8折</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="xsq_deal_wrapper">
                                                    <a class="saleDeal" href="" target="_blank">
                                                        <div class="dealCon">
                                                            <img class="dealImg" src="{:C('HO_IMG')}xlqg6.jpg" alt="">
                                                            <div class="zt2Qrcode overlay">
                                                                <div class="xsqMask"></div>
                                                                <p class="word1">15:00开抢</p>
                                                                <p class="word2">限100件，抢完恢复25.8元</p>
                                                                <p class="word3">查看商品&gt;&gt;</p>
                                                            </div>
                                                            <div class="stock">
                                                                <div class="xsqMask"></div>
                                                                <span class="stockWord"><i class="stocknumber">还剩73件</i> 抢完恢复原价16.8元</span>
                                                            </div>
                                                        </div>
                                                        <div class="title_new">
                                                            <p class="word" title="925银流苏珍珠耳坠耳钉"><span class="baoyouText">[包邮]</span>925银流苏珍珠耳坠耳钉</p>
                                                        </div>
                                                        <div class="dealInfo">
                                                            <span class="price">¥<em>1</em></span>

                                                            <span class="shop_preferential">满2件8.8折</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </li>
                                            <li index="1">
                                                <div class="xsq_deal_wrapper">
                                                    <a class="saleDeal" href="" target="_blank">
                                                        <div class="dealCon">
                                                            <img class="dealImg" src="{:C('HO_IMG')}xlqg7.jpg" alt="">
                                                            <div class="zt2Qrcode overlay">
                                                                <div class="xsqMask"></div>
                                                                <p class="word1">15:00开抢</p>
                                                                <p class="word2">限100件，抢完恢复25.8元</p>
                                                                <p class="word3">查看商品&gt;&gt;</p>
                                                            </div>
                                                        </div>
                                                        <div class="title_new">
                                                            <p class="word" title="925银流苏珍珠耳坠耳钉"><span class="baoyouText">[包邮]</span>925银流苏珍珠耳坠耳钉</p>
                                                        </div>
                                                        <div class="dealInfo">
                                                            <span class="price">¥<em>2</em></span>

                                                            <span class="shop_preferential">满2件8.8折</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="xsq_deal_wrapper">
                                                    <a class="saleDeal" href="" target="_blank">
                                                        <div class="dealCon">
                                                            <img class="dealImg" src="{:C('HO_IMG')}xlqg8.jpg" alt="">
                                                            <div class="zt2Qrcode overlay">
                                                                <div class="xsqMask"></div>
                                                                <p class="word1">15:00开抢</p>
                                                                <p class="word2">限100件，抢完恢复25.8元</p>
                                                                <p class="word3">查看商品&gt;&gt;</p>
                                                            </div>
                                                            <div class="stock">
                                                                <div class="xsqMask"></div>
                                                                <span class="stockWord"><i class="stocknumber">还剩73件</i> 抢完恢复原价16.8元</span>
                                                            </div>
                                                        </div>
                                                        <div class="title_new">
                                                            <p class="word" title="925银流苏珍珠耳坠耳钉"><span class="baoyouText">[包邮]</span>925银流苏珍珠耳坠耳钉</p>
                                                        </div>
                                                        <div class="dealInfo">
                                                            <span class="price">¥<em>2</em></span>

                                                            <span class="shop_preferential">满2件8.8折</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="xsq_deal_wrapper">
                                                    <a class="saleDeal" href="" target="_blank">
                                                        <div class="dealCon">
                                                            <img class="dealImg" src="{:C('HO_IMG')}xlqg9.jpg" alt="">
                                                            <div class="finish overlay">
                                                                <div class="xsqMask"></div>
                                                                <p class="word1">15:00开抢</p>
                                                                <p class="word2">限100件，抢完恢复25.8元</p>
                                                                <p class="word3">查看商品&gt;&gt;</p>
                                                            </div>
                                                            <span class="finishIcon xsqIcon"></span>
                                                        </div>
                                                        <div class="title_new">
                                                            <p class="word" title="925银流苏珍珠耳坠耳钉"><span class="baoyouText">[包邮]</span>925银流苏珍珠耳坠耳钉</p>
                                                        </div>
                                                        <div class="dealInfo">
                                                            <span class="price">¥<em>2</em></span>

                                                            <span class="shop_preferential">满2件8.8折</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="xsq_deal_wrapper">
                                                    <a class="saleDeal" href="" target="_blank">
                                                        <div class="dealCon">
                                                            <img class="dealImg" src="{:C('HO_IMG')}xlqg10.jpg" alt="">
                                                            <div class="zt2Qrcode overlay">
                                                                <div class="xsqMask"></div>
                                                                <p class="word1">15:00开抢</p>
                                                                <p class="word2">限100件，抢完恢复25.8元</p>
                                                                <p class="word3">查看商品&gt;&gt;</p>
                                                            </div>
                                                            <div class="stock">
                                                                <div class="xsqMask"></div>
                                                                <span class="stockWord"><i class="stocknumber">还剩73件</i> 抢完恢复原价16.8元</span>
                                                            </div>
                                                        </div>
                                                        <div class="title_new">
                                                            <p class="word" title="925银流苏珍珠耳坠耳钉"><span class="baoyouText">[包邮]</span>925银流苏珍珠耳坠耳钉</p>
                                                        </div>
                                                        <div class="dealInfo">
                                                            <span class="price">¥<em>2</em></span>

                                                            <span class="shop_preferential">满2件8.8折</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="xsq_deal_wrapper">
                                                    <a class="saleDeal" href="" target="_blank">
                                                        <div class="dealCon">
                                                            <img class="dealImg" src="{:C('HO_IMG')}xlqg11.jpg" alt="">
                                                            <div class="zt2Qrcode overlay">
                                                                <div class="xsqMask"></div>
                                                                <p class="word1">15:00开抢</p>
                                                                <p class="word2">限100件，抢完恢复25.8元</p>
                                                                <p class="word3">查看商品&gt;&gt;</p>
                                                            </div>
                                                            <div class="stock">
                                                                <div class="xsqMask"></div>
                                                                <span class="stockWord"><i class="stocknumber">还剩73件</i> 抢完恢复原价16.8元</span>
                                                            </div>
                                                        </div>
                                                        <div class="title_new">
                                                            <p class="word" title="925银流苏珍珠耳坠耳钉"><span class="baoyouText">[包邮]</span>925银流苏珍珠耳坠耳钉</p>
                                                        </div>
                                                        <div class="dealInfo">
                                                            <span class="price">¥<em>2</em></span>

                                                            <span class="shop_preferential">满2件8.8折</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="xsq_deal_wrapper">
                                                    <a class="saleDeal" href="" target="_blank">
                                                        <div class="dealCon">
                                                            <img class="dealImg" src="{:C('HO_IMG')}xlqg12.jpg" alt="">
                                                            <div class="zt2Qrcode overlay">
                                                                <div class="xsqMask"></div>
                                                                <p class="word1">15:00开抢</p>
                                                                <p class="word2">限100件，抢完恢复25.8元</p>
                                                                <p class="word3">查看商品&gt;&gt;</p>
                                                            </div>
                                                            <div class="stock">
                                                                <div class="xsqMask"></div>
                                                                <span class="stockWord"><i class="stocknumber">还剩73件</i> 抢完恢复原价16.8元</span>
                                                            </div>
                                                        </div>
                                                        <div class="title_new">
                                                            <p class="word" title="925银流苏珍珠耳坠耳钉"><span class="baoyouText">[包邮]</span>925银流苏珍珠耳坠耳钉</p>
                                                        </div>
                                                        <div class="dealInfo">
                                                            <span class="price">¥<em>2</em></span>

                                                            <span class="shop_preferential">满2件8.8折</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                        <a href="javascript:;" class="zuo trigger"></a>
                                        <a href="javascript:;" class="you trigger"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="center pc-top-20">
        <div class="pc-center-he">
            <div class="pc-box-he pc-box-blue clearfix">
                <div class="fl"><i class="pc-time-icon"></i></div>
                <div class="fr pc-box-blue-link">
                    <a href="#">上衣</a>
                    <a href="#">短裙</a>
                    <a href="#">牛仔裤</a>
                    <a href="#">短袖</a>
                    <a href="#">帽子</a>
                </div>
            </div>
            <div class="pc-list-goods">
                <div class="xsq_deal_wrapper pc-deal-list clearfix">
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg13.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="【京东超市】福临门 葵花籽原香食用调和油5L 中粮出品"><span class="baoyouText">[包邮]</span>【京东超市】福临门 葵花籽原香食用调和油5L 中粮出品</p></div>
                        <div class="dealInfo"><span class="price">¥<em>39.9</em></span></div>
                    </a>
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg14.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="神火（supfire）C8T6 强光手电筒 远射LED充电式防身灯 配18650电池"><span class="baoyouText">[包邮]</span>神火（supfire）C8T6 强光手电筒 远射LED充电式防身灯 配18650电池</p></div>
                        <div class="dealInfo"><span class="price">¥<em>99.0</em></span></div>
                    </a>
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg15.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="【京东超市】福临门 葵花籽原香食用调和油5L 中粮出品"><span class="baoyouText">[包邮]</span>【京东超市】福临门 葵花籽原香食用调和油5L 中粮出品</p></div>
                        <div class="dealInfo"><span class="price">¥<em>99.9</em></span></div>
                    </a>
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg16.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="暖风机家用取暖器婴儿电暖气暖手宝浴室防水N"><span class="baoyouText">[包邮]</span>暖风机家用取暖器婴儿电暖气暖手宝浴室防水N</p></div>
                        <div class="dealInfo"><span class="price">¥<em>199.9</em></span></div>
                    </a>
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg17.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="CIKOO 洗澡玩具 戏水玩具 水枪玩具 高压水枪玩具"><span class="baoyouText">[包邮]</span>CIKOO 洗澡玩具 戏水玩具 水枪玩具 高压水枪玩具</p></div>
                        <div class="dealInfo"><span class="price">¥<em>29.0</em></span></div>
                    </a>
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg18.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="联想（ThinkPad）轻薄系列E470c（20H3A004CD）14英寸笔记本电脑（i5-6200U 8G 500G 2G独显 Win10）黑色 "><span class="baoyouText">[包邮]</span>联想（ThinkPad）轻薄系列E470c（20H3A004CD）14英寸笔记本电脑（i5-6200U 8G 500G 2G独显 Win10）黑色 </p></div>
                        <div class="dealInfo"><span class="price">¥<em>4499.9</em></span></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="center pc-top-20">
        <div class="pc-center-he">
            <div class="pc-box-he pc-box-ge clearfix">
                <div class="fl"><i class="pc-time-icon"></i></div>
                <div class="fr pc-box-blue-link">
                    <a href="#">上衣</a>
                    <a href="#">短裙</a>
                    <a href="#">牛仔裤</a>
                    <a href="#">短袖</a>
                    <a href="#">帽子</a>
                </div>
            </div>
            <div class="pc-list-goods">
                <div class="xsq_deal_wrapper pc-deal-list clearfix">
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg13.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="【京东超市】福临门 葵花籽原香食用调和油5L 中粮出品"><span class="baoyouText">[包邮]</span>【京东超市】福临门 葵花籽原香食用调和油5L 中粮出品</p></div>
                        <div class="dealInfo"><span class="price">¥<em>39.9</em></span></div>
                    </a>
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg14.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="神火（supfire）C8T6 强光手电筒 远射LED充电式防身灯 配18650电池"><span class="baoyouText">[包邮]</span>神火（supfire）C8T6 强光手电筒 远射LED充电式防身灯 配18650电池</p></div>
                        <div class="dealInfo"><span class="price">¥<em>99.0</em></span></div>
                    </a>
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg15.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="【京东超市】福临门 葵花籽原香食用调和油5L 中粮出品"><span class="baoyouText">[包邮]</span>【京东超市】福临门 葵花籽原香食用调和油5L 中粮出品</p></div>
                        <div class="dealInfo"><span class="price">¥<em>99.9</em></span></div>
                    </a>
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg16.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="暖风机家用取暖器婴儿电暖气暖手宝浴室防水N"><span class="baoyouText">[包邮]</span>暖风机家用取暖器婴儿电暖气暖手宝浴室防水N</p></div>
                        <div class="dealInfo"><span class="price">¥<em>199.9</em></span></div>
                    </a>
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg17.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="CIKOO 洗澡玩具 戏水玩具 水枪玩具 高压水枪玩具"><span class="baoyouText">[包邮]</span>CIKOO 洗澡玩具 戏水玩具 水枪玩具 高压水枪玩具</p></div>
                        <div class="dealInfo"><span class="price">¥<em>29.0</em></span></div>
                    </a>
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg18.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="联想（ThinkPad）轻薄系列E470c（20H3A004CD）14英寸笔记本电脑（i5-6200U 8G 500G 2G独显 Win10）黑色 "><span class="baoyouText">[包邮]</span>联想（ThinkPad）轻薄系列E470c（20H3A004CD）14英寸笔记本电脑（i5-6200U 8G 500G 2G独显 Win10）黑色 </p></div>
                        <div class="dealInfo"><span class="price">¥<em>4499.9</em></span></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="center pc-top-20">
        <div class="pc-center-he">
            <div class="pc-box-he pc-box-re clearfix">
                <div class="fl"><i class="pc-time-icon"></i></div>
                <div class="fr pc-box-blue-link">
                    <a href="#">上衣</a>
                    <a href="#">短裙</a>
                    <a href="#">牛仔裤</a>
                    <a href="#">短袖</a>
                    <a href="#">帽子</a>
                </div>
            </div>
            <div class="pc-list-goods">
                <div class="xsq_deal_wrapper pc-deal-list clearfix">
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg13.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="【京东超市】福临门 葵花籽原香食用调和油5L 中粮出品"><span class="baoyouText">[包邮]</span>【京东超市】福临门 葵花籽原香食用调和油5L 中粮出品</p></div>
                        <div class="dealInfo"><span class="price">¥<em>39.9</em></span></div>
                    </a>
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg14.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="神火（supfire）C8T6 强光手电筒 远射LED充电式防身灯 配18650电池"><span class="baoyouText">[包邮]</span>神火（supfire）C8T6 强光手电筒 远射LED充电式防身灯 配18650电池</p></div>
                        <div class="dealInfo"><span class="price">¥<em>99.0</em></span></div>
                    </a>
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg15.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="【京东超市】福临门 葵花籽原香食用调和油5L 中粮出品"><span class="baoyouText">[包邮]</span>【京东超市】福临门 葵花籽原香食用调和油5L 中粮出品</p></div>
                        <div class="dealInfo"><span class="price">¥<em>99.9</em></span></div>
                    </a>
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg16.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="暖风机家用取暖器婴儿电暖气暖手宝浴室防水N"><span class="baoyouText">[包邮]</span>暖风机家用取暖器婴儿电暖气暖手宝浴室防水N</p></div>
                        <div class="dealInfo"><span class="price">¥<em>199.9</em></span></div>
                    </a>
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg17.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="CIKOO 洗澡玩具 戏水玩具 水枪玩具 高压水枪玩具"><span class="baoyouText">[包邮]</span>CIKOO 洗澡玩具 戏水玩具 水枪玩具 高压水枪玩具</p></div>
                        <div class="dealInfo"><span class="price">¥<em>29.0</em></span></div>
                    </a>
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg18.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="联想（ThinkPad）轻薄系列E470c（20H3A004CD）14英寸笔记本电脑（i5-6200U 8G 500G 2G独显 Win10）黑色 "><span class="baoyouText">[包邮]</span>联想（ThinkPad）轻薄系列E470c（20H3A004CD）14英寸笔记本电脑（i5-6200U 8G 500G 2G独显 Win10）黑色 </p></div>
                        <div class="dealInfo"><span class="price">¥<em>4499.9</em></span></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="center pc-top-20">
        <div class="pc-center-he">
            <div class="pc-box-he pc-box-qr clearfix">
                <div class="fl"><i class="pc-time-icon"></i></div>
                <div class="fr pc-box-blue-link">
                    <a href="#">上衣</a>
                    <a href="#">短裙</a>
                    <a href="#">牛仔裤</a>
                    <a href="#">短袖</a>
                    <a href="#">帽子</a>
                </div>
            </div>
            <div class="pc-list-goods">
                <div class="xsq_deal_wrapper pc-deal-list clearfix">
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg13.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="【京东超市】福临门 葵花籽原香食用调和油5L 中粮出品"><span class="baoyouText">[包邮]</span>【京东超市】福临门 葵花籽原香食用调和油5L 中粮出品</p></div>
                        <div class="dealInfo"><span class="price">¥<em>39.9</em></span></div>
                    </a>
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg14.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="神火（supfire）C8T6 强光手电筒 远射LED充电式防身灯 配18650电池"><span class="baoyouText">[包邮]</span>神火（supfire）C8T6 强光手电筒 远射LED充电式防身灯 配18650电池</p></div>
                        <div class="dealInfo"><span class="price">¥<em>99.0</em></span></div>
                    </a>
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg15.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="【京东超市】福临门 葵花籽原香食用调和油5L 中粮出品"><span class="baoyouText">[包邮]</span>【京东超市】福临门 葵花籽原香食用调和油5L 中粮出品</p></div>
                        <div class="dealInfo"><span class="price">¥<em>99.9</em></span></div>
                    </a>
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg16.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="暖风机家用取暖器婴儿电暖气暖手宝浴室防水N"><span class="baoyouText">[包邮]</span>暖风机家用取暖器婴儿电暖气暖手宝浴室防水N</p></div>
                        <div class="dealInfo"><span class="price">¥<em>199.9</em></span></div>
                    </a>
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg17.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="CIKOO 洗澡玩具 戏水玩具 水枪玩具 高压水枪玩具"><span class="baoyouText">[包邮]</span>CIKOO 洗澡玩具 戏水玩具 水枪玩具 高压水枪玩具</p></div>
                        <div class="dealInfo"><span class="price">¥<em>29.0</em></span></div>
                    </a>
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg18.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="联想（ThinkPad）轻薄系列E470c（20H3A004CD）14英寸笔记本电脑（i5-6200U 8G 500G 2G独显 Win10）黑色 "><span class="baoyouText">[包邮]</span>联想（ThinkPad）轻薄系列E470c（20H3A004CD）14英寸笔记本电脑（i5-6200U 8G 500G 2G独显 Win10）黑色 </p></div>
                        <div class="dealInfo"><span class="price">¥<em>4499.9</em></span></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="center pc-top-20">
        <div class="pc-center-he">
            <div class="pc-box-he pc-box-ue clearfix">
                <div class="fl"><i class="pc-time-icon"></i></div>
                <div class="fr pc-box-blue-link">
                    <a href="#">上衣</a>
                    <a href="#">短裙</a>
                    <a href="#">牛仔裤</a>
                    <a href="#">短袖</a>
                    <a href="#">帽子</a>
                </div>
            </div>
            <div class="pc-list-goods" style="height:auto">
                <div class="xsq_deal_wrapper pc-deal-list clearfix">
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg19.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="【京东超市】福临门 葵花籽原香食用调和油5L 中粮出品"><span class="baoyouText">[包邮]</span>【京东超市】福临门 葵花籽原香食用调和油5L 中粮出品</p></div>
                        <div class="dealInfo"><span class="price">¥<em>39.9</em></span></div>
                    </a>
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg14.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="神火（supfire）C8T6 强光手电筒 远射LED充电式防身灯 配18650电池"><span class="baoyouText">[包邮]</span>神火（supfire）C8T6 强光手电筒 远射LED充电式防身灯 配18650电池</p></div>
                        <div class="dealInfo"><span class="price">¥<em>99.0</em></span></div>
                    </a>
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg15.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="【京东超市】福临门 葵花籽原香食用调和油5L 中粮出品"><span class="baoyouText">[包邮]</span>【京东超市】福临门 葵花籽原香食用调和油5L 中粮出品</p></div>
                        <div class="dealInfo"><span class="price">¥<em>99.9</em></span></div>
                    </a>
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg16.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="暖风机家用取暖器婴儿电暖气暖手宝浴室防水N"><span class="baoyouText">[包邮]</span>暖风机家用取暖器婴儿电暖气暖手宝浴室防水N</p></div>
                        <div class="dealInfo"><span class="price">¥<em>199.9</em></span></div>
                    </a>
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg17.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="CIKOO 洗澡玩具 戏水玩具 水枪玩具 高压水枪玩具"><span class="baoyouText">[包邮]</span>CIKOO 洗澡玩具 戏水玩具 水枪玩具 高压水枪玩具</p></div>
                        <div class="dealInfo"><span class="price">¥<em>29.0</em></span></div>
                    </a>
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg18.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="联想（ThinkPad）轻薄系列E470c（20H3A004CD）14英寸笔记本电脑（i5-6200U 8G 500G 2G独显 Win10）黑色 "><span class="baoyouText">[包邮]</span>联想（ThinkPad）轻薄系列E470c（20H3A004CD）14英寸笔记本电脑（i5-6200U 8G 500G 2G独显 Win10）黑色 </p></div>
                        <div class="dealInfo"><span class="price">¥<em>4499.9</em></span></div>
                    </a>
                </div>
                <div class="xsq_deal_wrapper pc-deal-list clearfix" >
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg13.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="【京东超市】福临门 葵花籽原香食用调和油5L 中粮出品"><span class="baoyouText">[包邮]</span>【京东超市】福临门 葵花籽原香食用调和油5L 中粮出品</p></div>
                        <div class="dealInfo"><span class="price">¥<em>39.9</em></span></div>
                    </a>
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg14.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="神火（supfire）C8T6 强光手电筒 远射LED充电式防身灯 配18650电池"><span class="baoyouText">[包邮]</span>神火（supfire）C8T6 强光手电筒 远射LED充电式防身灯 配18650电池</p></div>
                        <div class="dealInfo"><span class="price">¥<em>99.0</em></span></div>
                    </a>
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg15.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="【京东超市】福临门 葵花籽原香食用调和油5L 中粮出品"><span class="baoyouText">[包邮]</span>【京东超市】福临门 葵花籽原香食用调和油5L 中粮出品</p></div>
                        <div class="dealInfo"><span class="price">¥<em>99.9</em></span></div>
                    </a>
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg16.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="暖风机家用取暖器婴儿电暖气暖手宝浴室防水N"><span class="baoyouText">[包邮]</span>暖风机家用取暖器婴儿电暖气暖手宝浴室防水N</p></div>
                        <div class="dealInfo"><span class="price">¥<em>199.9</em></span></div>
                    </a>
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg17.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="CIKOO 洗澡玩具 戏水玩具 水枪玩具 高压水枪玩具"><span class="baoyouText">[包邮]</span>CIKOO 洗澡玩具 戏水玩具 水枪玩具 高压水枪玩具</p></div>
                        <div class="dealInfo"><span class="price">¥<em>29.0</em></span></div>
                    </a>
                    <a class="saleDeal" href="" target="_blank">
                        <div class="dealCon"><img class="dealImg" src="{:C('HO_IMG')}xlqg18.jpg" alt=""></div>
                        <div class="title_new"><p class="word" title="联想（ThinkPad）轻薄系列E470c（20H3A004CD）14英寸笔记本电脑（i5-6200U 8G 500G 2G独显 Win10）黑色 "><span class="baoyouText">[包邮]</span>联想（ThinkPad）轻薄系列E470c（20H3A004CD）14英寸笔记本电脑（i5-6200U 8G 500G 2G独显 Win10）黑色 </p></div>
                        <div class="dealInfo"><span class="price">¥<em>4499.9</em></span></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<div style="height:100px"></div>
